- name: Install apt-transport-https
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - lsb-release
      - gnupg
    state: latest
    update_cache: true

- name: Add signing key
  ansible.builtin.apt_key:
    url: "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
    state: present

- name: Add repository into sources list
  ansible.builtin.apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu focal stable
    filename: docker

- name: Install Docker
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: latest
    update_cache: true

- name: Add User to docker Group. User name '{{ ansible_user }}'
  ansible.builtin.user:
    name: '{{ ansible_user }}'
    append: true
    groups:
      - docker

- name: Reset ssh connection to allow user changes to affect ansible user
  ansible.builtin.meta: reset_connection

- name: Create Docker Network
  community.general.docker_network:
    name: traefik
    state: present
